.error-message {
  color: #f00
}

table th, table td {
  text-align: center;
}

form .field {
  text-align: left;
  margin: 1em 0;
}

.search-form input[type="number"] {
  width: 20%;
  border-radius: 0.5em;
}

.search-form input[type="submit"] {
  border-radius: 0.5em;
  padding: 0.2em 1.5em;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.375s ease-in
}

.search-form input[type="submit"]:hover {
  background-color: #0062cc
}
