<div class="m-2 text-center">
  <table class="table">
    <thead class='thead-light'>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Detail</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction|%>
      <tr>
        <td><%=transaction.date.strftime('%b-%d-%Y')%></td>
        <td><%=transaction.detail%></td>
        <td><%=transaction.amount%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
<div class="text-right pr-3 my-3">
  <%= link_to new_transaction_path do %>
  <button class="btn btn-primary">New Transaction</button>
  <% end %>
</div>
